// Bootstrap library.
@import 'base/bootstrap';

// Layout and Drupal Modules Theming.
@import 'components/colors';
@import 'layout/layout';  // Theme Customizations for Region/Layout changes //
@import 'components/blocks';  // Theme Customizations to Blocks //
@import 'components/navigation';  // Theme Customizations to Navigation //
@import 'components/views';  // Theme Customizations to Views //
@import 'components/buttons';  // Theme Customizations for CTAs/Buttons //
@import 'components/forms';  // Theme Customizations to Forms/Webforms //
@import 'components/panels';  // Theme Customizations to Panels //
@import 'components/iconfonts';  // Theme Customizations to IconFonts. Recommend installing FontAwesome Module first //
@import 'custom';  // Uncategorized Theme Customizations //

// Helper Classes
.label-support-partial {
  background-color: $color-green-muted;
  color: #333;
}


//Sticky Footer
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 85px;
}
.wrapper {}
.navbar {}
.main-container {}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
}

// Global classes
.label- {
  &available {
    @extend .label-success;
  }
  &assigned {
    @extend .label-primary;
  }
  &pending {
    @extend .label-warning;
  }
  &unavailable {
    @extend .label-default;
  }
}

// Print
@page {
  size: 5.5in 8.5in;
}
@media all {
	.page-break	{ display: none; }
}
@media print {
  .page-break	{
    display: block;
    page-break-after: always;
    page-break-inside: avoid;
  }
  .territory-image {
    width: 66.6666666667%!important;
  }
  .territory-streets {
    width: 33.3333333333%!important;
  }
}
.break-after {
    display: block;
    page-break-after: always;
    position: relative;
}

.break-before {
    display: block;
    page-break-before: always;
    position: relative;
}

// Hide for print: .hidden-print
// Show only for print: .visible-print-block -- .visible-print-inline -- .vissible-print-inline-block
#navbar,
.alert,
.region-page-top,
header,
aside,
footer,
#block-menu-block-2,
.menu-name-menu-territory,
.easy-breadcrumb,
#mini-panel-territory_admin_menu,
.view-territory-edit-control,
.footer-container {
  @extend .hidden-print;
}

.print-content {
  h2 {
    a { color: #990000; }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    // float: left;
  }
  .print-header {
    .terrcardtitle {
      text-align: left;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .terrno {
      text-align: right;
      h1 {
        font-size: 2.5rem;
      }
      .terrlabel {
        text-transform: uppercase;
      }
      .terrname {
        color: #990000;
      }
    }
  }
  .terr-donotvisits, .terr-landmarks {
    h2{
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0;
    }
  }
  .terr-donotvisits {
    h2 {}
    .text {}
    p {}
    ul {
      // @extend .list-group;
      // columns: 2;
      // -webkit-columns: 2;
      // -moz-columns: 2;
      li {
        // @extend .list-group-item;
      }
    }
  }
  .terr-landmarks {
    h2 {}
    p {}
  }
}

.territory-print { //Territory print page
  // margin-top: -50px;
  header,
  aside,
  footer,
  .region-page-top {
    display: none;
  }
  .container {
    // margin: 0!important;
    // padding: 0!important;
  }
  .col-sm-9 {
    width: 100%!important;
    // padding: 0!important;
  }
}
// -- end Print



// -----

// Labels
$label-day-color: #777;
.label- {
  color: #333;
  // color: inherit;
  &1 { // in use
    background-color: #f0ad4e; //Orange
    color: inherit;
  }
  &2 { // completed
    background-color: #C6DDCC; //Green
    color: inherit;
  }
  &Mon {
    // background-color: $label-day-color;
    background-color: #CBB8C3;
    color: inherit;
  }
  &Tue {
    // background-color: lighten($label-day-color, 5%);
    background-color: #C6DDCC;
    color: inherit;
  }
  &Wed {
    // background-color: lighten($label-day-color, 10%);
    background-color: #F8EADA;
    color: inherit;
  }
  &Thu {
    // background-color: lighten($label-day-color, 15%);
    background-color: #EFCEC7;
    color: inherit;
  }
  &Fri {
    // background-color: lighten($label-day-color, 20%);
    background-color: #EBC7D0;
    color: inherit;
  }
  &Sat {
    // background-color: lighten($label-day-color, 25%);
    // background-color: #BACDDD;
    background-color: #286090;
    color: #FFF;
  }
  &Sun {
    // background-color: lighten($label-day-color, 30%);
    background-color: #E0DEDA;
    color: inherit;
  }
  &Congregation, &Special {
    // background-color: #BACDDD;
    background-color: #286090;
    color: #FFF;
  }
  &Midweek {
    background-color: #E0DEDA;
    color: inherit;
  }
  &supports {
    @extend .label-success;
  }
  &supports-exceptions {
    @extend .label-support-partial;
  }
  &supports-equivalentfacilitation {
    @extend .label-support-partial;
  }
  &supports-compatibleat {
    @extend .label-support-partial;
  }
  &doesnotsupport {
    @extend .label-danger;
  }
  &notapplicable {
    @extend .label-default;
  }
  &notapplicable-fundamentalalteration {
    @extend .label-warning;
  }
} // end labels

table {
  tr.congregation, tr.special {
    // border-bottom: solid;
    background-color: #d9edf7!important;
  }
}

//
form {
  div {
    @extend .form-group;
    @extend .form-group-lg;
  }
}

.touch-menu-wrapper {
  //background-color: #ccc;
  a {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-lg;
  }
}
// CLM specific
.treasuresfromgodsword {
  background-color: #5A6A70;
  color: #FFF;
}
.applyyourselffieldministry {
  background-color: #C18626;
  color: #FFF;
}
.livingaschristians {
  background-color: #961526;
  color: #FFF;
}
.assignable {
  display: block;
}
.unassignable {
  display: none;
}

.menu-block-wrapper {
  //@extend .touch-menu-wrapper;
}

#block-system-user-menu {
  ul {
    @extend .list-inline;
  }
}
// Content Region
.region-content {
  .menu {
    a {
      width: 100%;
      @extend .btn;
      @extend .btn-default;
      @extend .btn-lg;
    }
  }
  .btn {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .btn-lg {
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  .views-table {
    @extend .table;
  }
  .event-list {
    .confirmed {
      @extend .label;
      @extend .label-success;
    }
    .pending {
      @extend .label;
      @extend .label-default;
    }
  }
}

#block-views-f54da2101b27310e100915fbfd032086 { //page: time/group/% Group Count
  @extend .col-md-3;
  text-align: center;
  .group-count {
    font-size: 50px;
  }
}
#block-views-81965e874eee9c51043cac00d0a3e93e { //page: time/group/% 6 month Chart
  @extend .col-md-9;
}

// Aside Secondary
.region-sidebar-second {
  .menu {
    a {
      width: 100%;
      @extend .btn;
      @extend .btn-default;
      @extend .btn-lg;
    }
  }
  .btn {
    margin-bottom: 10px;
  }
}

.footer {
  width: 100%;
  margin-top: 50px;
  background-color: #333;
  padding: 2em 0;
  text-align: center;
  a {
    color: #FFF;
    @extend .btn;
  }
  li {
    .first {
      a {

      &:before {
        // @extend .glyphicon;
        // @extend .glyphicon-cog;
      }
    }
    }
  }
}

// Front page
.front {
  &.not-logged-in.page-user {
    .page-header {
      display: none!important;
    }
  }
}
.not-front {
  &.not-logged-in.page-user {
    .page-header {
      display: none!important;
    }
  }
}

// ThisGoodNews.org
.page-smpwp-availability {
  #edit-field-email-email-wrapper, #edit-field-phone-mobile-value-wrapper {
    @extend .col-sm-12;
  }
}
.page-eform-submit-smpw-availability-survey {
  .field-name-field-smpw-date-avail {
    @extend .col-sm-6;
    .control-label {
      @extend .hidden; // hide date label
    }
  }
  .field-name-field-smpwp-location {
    @extend .hidden; //temporarily hide Zoo location in form
  }
  .tabledrag-toggle-weight-wrapper {
    @extend .hidden; // hide "Show row weights" link
  }
}
.page-eform-smpw-availability-survey-confirm {
  .date-display-single {
    @extend .h3;
  }
}
