// Bootstrap library.
@import 'base/bootstrap';

// Layout and Drupal Modules Theming.
@import 'components/colors';
@import 'layout/layout';  // Theme Customizations for Region/Layout changes //
@import 'components/blocks';  // Theme Customizations to Blocks //
@import 'components/navigation';  // Theme Customizations to Navigation //
@import 'components/views';  // Theme Customizations to Views //
@import 'components/buttons';  // Theme Customizations for CTAs/Buttons //
@import 'components/forms';  // Theme Customizations to Forms/Webforms //
@import 'components/panels';  // Theme Customizations to Panels //
@import 'components/iconfonts';  // Theme Customizations to IconFonts. Recommend installing FontAwesome Module first //
@import 'components/helpers'; // Global helper classes
@import 'custom';  // Uncategorized Theme Customizations //


// Fonts
//--------
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
$font-body: 'Montserrat', sans-serif;
$font-heading: 'Merriweather', serif;
//
body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

// Helper Classes
.label-support-partial {
  background-color: $color-green-muted;
  color: #333;
}

.info-block {
  display: block;
  color: #FFF;
  text-align: center;
  // padding: 10px 20px;
  @extend .col-md-4;
  .count {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
  }
  .count-label {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    display: inline-block;
  }
}
.info-default {
  @extend .label-default;
}
.info-success {
  @extend .label-success;
  .count-label {
    background: darken($color-green, 10);
  }
}
.info-warning {
  @extend .label-warning;
  .count-label {
    background: darken($color-orange, 10);
  }
}
.info-danger {
  @extend .label-danger;
  .count-label {
    background: darken($color-red, 10);
  }

}


// Global classes
.label- {
  &available {
    @extend .label-success;
  }
  &assigned {
    @extend .label-primary;
  }
  &pending {
    @extend .label-warning;
  }
  &unavailable {
    @extend .label-default;
  }
}

// Print
@page {
  size: 5.5in 8.5in;
}
@media all {
	.page-break	{ display: none; }
}
@media print {
  .page-break	{
    display: block;
    page-break-after: always;
    page-break-inside: avoid;
  }
}
.break-after {
    display: block;
    page-break-after: always;
    position: relative;
}

.break-before {
    display: block;
    page-break-before: always;
    position: relative;
}


// Labels
$label-day-color: #777;
.label- {
  color: #333;
  // color: inherit;
  &1 { // in use
    background-color: #f0ad4e; //Orange
    color: inherit;
  }
  &2 { // completed
    background-color: #C6DDCC; //Green
    color: inherit;
  }
  &Mon {
    // background-color: $label-day-color;
    background-color: #CBB8C3;
    color: inherit;
  }
  &Tue {
    // background-color: lighten($label-day-color, 5%);
    background-color: #C6DDCC;
    color: inherit;
  }
  &Wed {
    // background-color: lighten($label-day-color, 10%);
    background-color: #F8EADA;
    color: inherit;
  }
  &Thu {
    // background-color: lighten($label-day-color, 15%);
    background-color: #EFCEC7;
    color: inherit;
  }
  &Fri {
    // background-color: lighten($label-day-color, 20%);
    background-color: #EBC7D0;
    color: inherit;
  }
  &Sat {
    // background-color: lighten($label-day-color, 25%);
    // background-color: #BACDDD;
    background-color: #286090;
    color: #FFF;
  }
  &Sun {
    // background-color: lighten($label-day-color, 30%);
    background-color: #E0DEDA;
    color: inherit;
  }
  &Congregation, &Special {
    // background-color: #BACDDD;
    background-color: #286090;
    color: #FFF;
  }
  &Midweek {
    background-color: #E0DEDA;
    color: inherit;
  }
  &supports {
    @extend .label-success;
  }
  &supports-exceptions {
    @extend .label-support-partial;
  }
  &supports-equivalentfacilitation {
    @extend .label-support-partial;
  }
  &supports-compatibleat {
    @extend .label-support-partial;
  }
  &doesnotsupport {
    @extend .label-danger;
  }
  &notapplicable {
    @extend .label-default;
  }
  &notapplicable-fundamentalalteration {
    @extend .label-warning;
  }
} // end labels

table {
  tr.congregation, tr.special {
    // border-bottom: solid;
    background-color: #d9edf7!important;
  }
}

//
form {
  div {
    @extend .form-group;
    @extend .form-group-lg;
  }
}


// CLM specific
.treasuresfromgodsword {
  background-color: #5A6A70;
  color: #FFF;
}
.applyyourselffieldministry {
  background-color: #C18626;
  color: #FFF;
}
.livingaschristians {
  background-color: #961526;
  color: #FFF;
}
.assignable {
  display: block;
}
.unassignable {
  display: none;
}


// Content Region
.region-content {}


// Aside Secondary
.region-sidebar-second {
  .block-menu-block {
    a.active {
      background-color: #EEE;
    }
  }
}



// Front page
.front {
  &.not-logged-in.page-user {}
}
.not-front {
  &.not-logged-in.page-user {}
}

// Admin menu
#admin-menu {
  @extend .clearfix;
}

.adminimal-menu {
  .navbar-fixed-top {
    margin-top: 30px;
  }
}

// Header
body.navbar-is-fixed-top {
  padding-top: 70px; // Add padding for fixed navigation
}
.navbar-header {
  .logo {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// Navigation | Superfish overrides
$nav-bg: #161e21;
$nav-txt: #FFF;
#navbar {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}
.navbar-nav {
  padding-top: 10px;
}
.navbar-inverse {
  background-color: $nav-bg;

}
.navbar-inverse .navbar-nav>li>a {
  color: $nav-txt;
}
.sf-menu {
  li {
    background: $nav-bg!important;
  }
  a {
    color: $nav-txt!important;
    border: 1px solid $nav-bg!important;
  }
}

li.dropdown:hover > .dropdown-menu { // Display subnav on hover
    display: block;
}

// Hero section / Carousel slideshow
.region-hero {
  background: $blue;
  padding: 4em 0 2em;
  min-height: 400px;
  color: #FFF;
  border-bottom: 3px solid $orange;
  h2 {
    font-size: 3em;
  }
}
.carousel {
  // height: 500px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

// Featurette
// *******************
.featurette {
  padding: 2em 0;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}
.views-row-even { // Featurette even rows
  .featurette-image {
    @extend .pull-right;
  }
}
// Blog Featurette
.blog-featurette-wrapper {}
.blog-featurette {

  .views-more-link {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;
  }
  .well {
    height: 425px;
    overflow: hidden;
    position: relative;
  }
  .readmore-btn {
    position: absolute;
    bottom: 10px;
  }
}

// Blog page
.blog_usernames_blog {
  @extend .hidden; // hide personal blog link in footer
}
.node-type-blog {
  .node-blog {
    .field-image {
      img {
        @extend .center-block;
        padding: 2em 0;
      }
    }

  }
}
.view-id-blog_aside_list {
  a.active {
    color: $red;
  }
}

// Footer Prefix
// *******************
.footer_pre {
  padding: 1em 0;
  background: darken($gray, 30);
  .form-item {
    @extend .col-md-10;
  }
  .form-actions {
    @extend .col-md-2;
    @extend .col-xs-12;
  }
  .btn-primary {
    height: 45px;
    background-color: darken($gray, 40);
    border-color: darken($gray, 50);
    width: 100%;
  }
}

// Footer
// *******************
.footer {
  width: 100%;
  // margin-top: 50px;
  background-color: #333;
  padding: 2em 0;
  a {
    color: lighten($blue, 40);
  }
  #block-menu-menu-footer-menu { // Footer menu links
    @extend .col-sm-4;
  }
  #block-block-13 { // Payment block | PayPal
    @extend .col-sm-4;
    // @extend .pull-right;
    img {
      float: right;
    }
  }
  #block-block-5 { // Copyright
    @extend .col-sm-4;
    color: #FFF;
    // @extend .text-center;
  }

  #block-block-2 { // Secondary footer links | Intranet, Log out
    @extend .col-sm-12;
    // @extend .pull-right;

  }
  #block-block-3 { // Address block
    @extend .col-md-12;
    @extend .text-center;
  }
}
