/* Header */

header {
  background-color: #1d1d1d;
  p {
      margin: 0px;
  }
  a {
    color: #FFF;
    border-bottom: solid 2px transparent;
    &:hover {
      border-bottom: solid 2px #A3273E;
      transition: 0.4s;
    }
  }
}

/* Logo */
#logo {
  display: block;
  // width: 150px;
  max-width: 120px;
  width: 120px;
  float: left;
  a {
    border-bottom: none!important;
    &:hover {
      border-bottom: none!important;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 701px) {
    display: none;
  }
}

.header-body {
  position: relative;
  a {
    &:hover {
      text-decoration: none!important;
    }
  }
  /* Explore Temple / Top menu block */
  .header-body-top {
    display: block;
    // position: absolute;
    top: 0px;
    width: 100%;
    font-size: 12px;

    margin-bottom: 5px;
    padding: 10px 0px;
    /* Explore Temple  */
    .block-252, .header-explore {
      @media screen and (max-width: 700px) { display: none; }
    }
    /* Top menu */
    a {
      &:hover {
        color: #FFF;
      }
    }
    #header-menu,
    #block-menu-menu-header-menu {
      font-family: 'Open Sans', 'Arial', sans-serif;
      a {
        padding-left: 12px;
        padding-right: 12px;
      }

      ul.menu {
          content: "";
          clear: both;
          display: table;
          float: right;
      }
      li {
        float: left;
        list-style: none;
      }
      @media screen and (max-width: 700px) {
        border-bottom: 1px solid #333;
        padding-bottom: 1em;
      }
    } //end #header-menu
    @media screen and (min-width: 701px) {
      margin-right: -15px;
      margin-left: -15px;
      &:after { clear: both; }
      &:before,
      &:after {
        display: table;
        content: " ";
      }
    }
    @media screen and (min-width: 701px) {
      border-bottom: 1px solid #333;
    }
  }  //end header-body-top
}


/* Site name / Search block */
.header-body-bottom {
  display: block;
  bottom: 0px;
  width: 100%;
} //end .header-body-bottom
#branding {
  #logo-sm, .logo-sm {
    display: block;
    float: left;
    width: 50px!important;
    padding: 0 .5em;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    @media (min-width: 700px ) {
      display: none;
    }
  } //end #logo-sm
  #sitename {
    display: block;
    h1,
    h2 {
      font-size: 2em;
    }
    a {
      display: inline-block;
      font-family: 'Crimson Text', serif;
      font-weight: 100;
      // font-size: 1.2em!important;
      border-bottom: none!important;
      font-size: 100%;
      &:hover {
        border-bottom: none!important;
        color: #FFF;
        // border-bottom: 1px solid green;
      }
    }
    @media screen and (max-width: 700px) {
      display: block;
      float: left;
      width: 80%;
      h1, h2, a {
        font-size: 16px;
      }
    }
  } //end #sitename
} //end #branding

/* Search */
.block-search {
  fieldset input[type="focus"] {
    background: #2f2f2f;
    border-color: #464646;
  }
  input[type="text"] {
    background: transparent;
    border: 1px solid #363636;
    width: 100%;
    height: 45px;
  }
  input[type="text"]:focus {
    border-color: #999;
    background: #2f2f2f;
  }
  form,
  form input[type="text"],
  form input[type="submit"] {
    opacity: 1;
    visibility: visible;
    max-height: 100px;
  }
  button[type="submit"],
  input[type="submit"],
  a::after {
    width: 22px;
    height: 23px;
    background: url('https://www.temple.edu/sites/all/modules/custom/tu_global/images/png/legacy-icon-search.png') no-repeat 0 center transparent;
    background-size: 22px 23px;
    text-indent: -10000em;
    overflow: hidden;
    border: none;
  }
  button[type="submit"],
  input[type="submit"],
  a,
  a::after {
    position: absolute;
    top: 11px;
    right: 15px;
  }
  .form-actions {}
  @media (max-width: 700px ) {
    width: 100%!important;
    clear: both;
  }
} //end .block-search



#zone-menu select {
	// display: none;
}


/*Main Menu*/

#navbar {
  a {
    border-bottom: solid 2px transparent;
    /* padding-bottom: 2px; */
    &:hover {
      border-bottom: solid 2px #A3273E;
      transition: 0.4s;
    }
  }
  li {
    li {
      a {
        border-bottom: 1px solid #FFF;
        &:hover {
          color: #990000;
          border-bottom: 1px solid #990000;
        }
      }
    }
  }
}
