// Colors

$color-grey-default: #777;
$color-default: #777;

//Reds
$color-red: #d9534f;
$color-red-muted: #F2DFDE;
$color-warning: #d9534f;

$color-orange: #f0ad4e;
$color-warning: #f0ad4e;

//Greens
$color-green: #5cb85c;
$color-success: #5cb85c;
$color-green-muted: #C6DDCC;


//Blues
$color-blue: #337ab7;
$color-blue-light: #5bc0de;

$color-primary: #337ab7;
$color-info: #5bc0de;
