
// Block Spacing / Grid
.padding-1-p5em {
  padding: 1em .5em;
}
.padding-1em {
  padding: 1em;
}
.padding-1em-2em {
  padding: 1em 2em;
}

@media screen and (min-width: 700px) {
  .gutter-md-right-5px {
    margin-left: -5px;
    margin-right: 5px;
  }
  .gutter-md-left-5px {
    margin-right: -5px;
    margin-left: 5px;
  }
}

.row { // Equial heights
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display:         flex;
}
.row > [class*='col-'] {
	 // display: flex;
	 // flex-direction: column;
}


// Text
.text-white {
  color: #FFF;
}
.text-black {
  color: #000;
}
.link-white {
  a {
    color: #FFF;
    &:hover {
      color: #EEE;
    }
  }
}
.link-underline {
  a {
    text-decoration: underline!important;
  }
}

// Buttons
.btn-wrap-text,
.btn-wrap {
  //Wrap button text
  white-space: normal !important;
  word-wrap: break-word !important;
}

// Images
.img-responsive {
  img {
    width: 100%;
    height: auto;
  }
}

.img-border-lg {
  img {
    // padding: 20px;
    // background: #CCC;
    border: solid 2px #333;
  }
}

// Blocks
.callout {
  min-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
}
